<section class="container">
  <div class="row">
    <div class="col-sm-6">
      <p>Innovatoer Island</p>
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/EhgOoFbCID0?si=s3nwu8NCVnUpITO7" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-sm-6">
      <p>Serverless</p>
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/dUXDuxqTxmo?si=cfgP0YwHzMhsDY6s" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-sm-6">
      <p>Docker</p>
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/eGz9DS-aIeY?si=uMhhcCOdjN24M4ey" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-sm-6">
      <p>AWS</p>
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/bgPuPSPZe2U?si=WOlHgju7ydsVrJlp" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="row text-center">
    <a class="btn btn-secondary" href="#">View Complete Catalogue</a>
  </div>
</section>
